# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~

# OS
.DS_Store
Thumbs.db
Desktop.ini
.svn
*.log

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
